@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif !important;
  background-color: #EBECF0;
}
body, html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
}

.flex-with-center{
  display: flex;
  align-items: center;
  justify-content: center ;
}
.font-bold{
  font-weight: bold;
}
/* //neuromorphism box */
.n-box1{
 
background: #001220;
box-shadow:  5px 5px 0px #00070d,
             -5px -5px 0px #001d33;
}
.n-box2{
  border-radius: 50px;
background: #EBECF0;
box-shadow:  5px 5px 0px #d1d2d6,
             -5px -5px 0px #ffffff ;
}